body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 24px;
}

.calc-form {
  min-height: 300px;
  min-width: 300px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calc-form div,
button {
  text-align: center;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.number:hover {
  cursor: default;
  background-color: rgb(210, 208, 204);
}

#first-row {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: end;
  outline: none;
  background-color: rgb(213, 211, 211);
}

#first-row input {
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  text-align: right;
  background-color: rgb(213, 211, 211);
}

#first-row input::placeholder {
  color: black;
  font-size: 20px;
}

.last-row {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operation {
  background: rgb(253, 163, 61);
  border: 1px solid black;
}

.operation:hover {
  cursor: pointer;
  background: rgb(255, 128, 0);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.calculator-container {
  display: flex;
  justify-content: flex-end;
  gap: 5vw;
}
